.magicians {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.contacts {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  right: 65px;
}

.contact {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  position: relative;
  right: 65px;
}

.thesect {
  display: flex;
  justify-content: space-between;
  background-color: rosybrown;
  padding: 1%;
  flex-wrap: wrap;
  align-items: baseline;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.maker {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
